<div class="list-item-entry">
    <div class="hotel-item style-10 bg-white">
      <div class="table-view">
          <div class="radius-top cell-view">
            <div class="img-box f-img" style="background-image: url(/img/tour_list/flight_grid_1.jpg);"></div>                
          </div>
          <div class="title hotel-middle cell-view">
            <h5>單趟 <strong class="color-red-3 m-icon">13,000</strong> 起</h5>
            <h6 class="color-grey-3 list-hidden">one way flights</h6>
              <h4><b>長榮航空</b>&nbsp;&nbsp;紐西蘭五日來回機票</h4>
              
              <div class="fi_block grid-hidden row row10">
                <div class="flight-icon col-xs-6 col10">
                  <img class="fi_icon" src="/img/tour_list/flight_icon_2.png" alt="">
                  <div class="fi_content">
                    <div class="fi_title color-dark-2">台北</div>
                    <div class="fi_text color-grey">2018/2/20</div>
                  </div>
                </div>
                <div class="flight-icon col-xs-6 col10">
                  <img class="fi_icon" src="/img/tour_list/flight_icon_1.png" alt="">
                  <div class="fi_content">
                    <div class="fi_title color-dark-2">紐西蘭</div>
                    <div class="fi_text color-grey">2018/2/25</div>
                  </div>
                </div>
              </div>
            <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">了解更多</a>
          </div>
                              
        </div>
    </div>          
</div>