<div class="col-md-<%= col%> col-sm-6 col-xs-12 mb-30">
  <div class="blog-item clearfix border boxed">
   
    <div class="blog-media">
      <a href="/home/tickets/1">
        <div class="pic pic1-1 bg-center" style="background-image: url(/img/brand.jpg"></div>
      </a>
    </div>
    <div class="blog-item-body clearfix">
      <a href="/home/tickets/1">
        <h6 class="blog-title one-line">陸上樂園中央魔術溫泉</h6>
      </a>
      <div class="cms-box ">
        <p class="two-line">Etiam maximus molestie accumsan. Sed metus sapien, fermentum nec lorem ac, tempor gravida arcu.</p>
      </div>
      <a href="/home/tickets/1" class="blog-button">>>>&nbsp;更多</a>
    </div>
  </div>
</div>