<%= render :partial=>"/home/common/banner_title",locals:{title:"機票"}%>
<div class="main-wraper pd-50 tabs-page">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tab-nav-wrapper">
						<div  class="nav-tab  clearfix">
						<%@the_group.each_with_index do |value,index|%>
							<div class="nav-tab-item <%if index == 0%>active<%end%>">
								<%=value%>
							</div>
						<%end%> 
							                                                        
						</div>
					</div>
					<div class="tabs-content tabs-wrap-style no-border  clearfix">
					<%@the_group.each_with_index do |value,index|%>
							<div class="tab-info <%if index == 0%>active<%end%>">
							  <div class="list-content fight-list clearfix">
		  						<%= render :partial=>"/home/tickets/show",collection: @tickets.where(:the_group => value), as: :ticket%>
  							  </div>   						 						  						
  						    </div>
  					<%end%>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>