<%= render :partial=>"/home/common/banner_title",locals:{title:"關於我們"}%>
<div class="main-wraper  padd-90">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dr-blue-2 underline">海島旅遊專家</h4>
          <h2><span class="color-orange">WODESY</span>  豪德希旅遊</h2>
          <!-- <p class="mt20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
          <%=raw @content.content%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="4">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-dr-blue-2 border-grey-2" src="/img/home_8/icon_1.png" alt="">
                <h5 class="icon-title color-dark-2">用心服務</h5>
                <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
                <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
              </div>            
            </div>
            <div class="swiper-slide">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-dr-blue-2 border-grey-2" src="/img/home_8/icon_2.png" alt="">
                <h5 class="icon-title color-dark-2">旅遊交通規劃</h5>
                <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
                <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
              </div>          
            </div>
            <div class="swiper-slide">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-dr-blue-2 border-grey-2" src="/img/home_8/icon_3.png" alt="">
                <h5 class="icon-title color-dark-2">代辦簽證</h5>
                <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
                <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
              </div>          
            </div>
            <div class="swiper-slide">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-dr-blue-2 border-grey-2" src="/img/home_8/icon_4.png" alt="">
                <h5 class="icon-title color-dark-2">各國海島行程</h5>
                <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
                <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
              </div>          
            </div>
          </div>
        <div class="pagination poin-style-2"></div>  
      </div>
    </div>        
  </div>
</div>
<div class="main-wraper padd-90">
  <img class="center-image" src="/img/p4.jpg" alt="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title style2">
          <h4 class="subtitle color-white underline">關於 WODESY 豪德希</h4>
          <h3 class="color-white mb30">海島旅遊專家，享受愜意海島時光</h3>
          <a class="c-button b-40 bg-blue-2 hv-blue-2-o"><span>聯絡我們</span></a>
        </div>
      </div>
    </div>
    
  </div>
</div>