<%= render :partial=>"/home/common/banner_title",locals:{title:"聯絡我們"}%>
<div class="detail-wrapper">
  <!-- CONTACT-FORM -->
  <div class="main-wraper padd-40">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <form class="contact-form" action="#">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                    <input type="text" required="" placeholder="輸入姓名">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                    <input type="email" required="" placeholder="輸入信箱">
                </div>
              </div>
              
              <div class="col-xs-12">
                <textarea class="area-style-1 color-1" required="" placeholder="輸入留言"></textarea>
                <button type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o"><span>送出</span></button>
              </div>
            </div>          
          </form>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="contact-about">
            <h4 class="color-dark-2"><strong>豪德希旅遊</strong></h4>
            <p class="color-grey-3">夏威夷旅遊的專家，長年經營夏威夷與各海島旅遊線，是太平洋島嶼旅遊的專家，提供您最專業的行程與服務。</p>         
          </div>
          <div class="contact-info">
            <h4 class="color-dark-2"><strong>聯絡資訊</strong></h4>
            <div class="contact-line color-grey-3"><img src="img/phone_icon_2_dark.png" alt=""><a class="color-dark-2" href="tel:02-7702-1699">(02)7702-1699</a></div>          
            <div class="contact-line color-grey-3"><img src="img/mail_icon_b_dark.png" alt=""><a class="color-dark-2 tt" href="mailto:service@wodesy.com">service@wodesy.com</a></div>          
            <div class="contact-line color-grey-3"><img src="img/loc_icon_dark.png" alt=""><span class="color-dark-2 tt">台北總公司: 台北市中山區龍江路108號3樓之一</span></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="map-area">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.443680426895!2d121.53805731500667!3d25.052946983963537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abde29523245%3A0x29d14da8c180c9e0!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDpvo3msZ_ot68xMDjomZ_mqJPkuYvkuIA!5e0!3m2!1szh-TW!2stw!4v1525852270037" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>