<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">聯絡我們</a>
      <h2>聯絡我們</h2>
    </div>
  </div>
</section>
<div class="content-body contact-page" style="background-image: url(/img/bg6.jpg);">
  <div class="container page">
    <div class="contact-item">
      <h2 class="title-section "><span class="font-bold">Contacts</span></h2>
      <div class="cws_divider mb-25 mt-5"></div>
      <!-- contact list -->
      <div class="row">
      	<div class="col-sm-6">
      		<ul class="icon">
            <li> <a href="mailto:spacetk@ms47.hinet.net">spacetk@ms47.hinet.net<i class="fa fa-envelope"></i></a></li>
            <li> <a href="tel:(02)2504-8008">台北總公司 客服電話：(02)2504-8008<i class="fa fa-phone"></i></a></li>
            <li> <a href="tel:(02)8261-0988">北區分公司 (土城) 客服電話：(02)8261-0988<i class="fa fa-phone"></i></a></li>
            <li> 台北總公司：台北市中山區長安東路2段110號7樓之一<i class="fa fa-map-marker"></i></li>
            <li> 北區分公司：新北市土城區廣福街9號1樓<i class="fa fa-map-marker"></i></li>
          </ul>
      	</div>
      	<div class="col-sm-6">
      		<ul class="icon">
            <li> 匯款帳號：瑞興銀行（101）長安分行 0075-21-1128280<i class="fa fa-credit-card"></i></li>
            <li>戶名：樺一旅行社有限公司</li>
          </ul>
      	</div>
      </div>
      <!-- contact form -->
      <div class="widget-contact-form pb-0 mt-200">
        <!-- contact-form-->
        <div class="email_server_responce"></div>
        <form action="php/contacts-process.php" method="post" class="form contact-form alt clearfix">
          <div class="row">
            <div class="col-md-6 clearfix">
              <div class="input-container">
                <input type="text" name="name" value="" size="40" placeholder="姓名" aria-invalid="false" aria-required="true" class="form-row form-row-first">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-container">
                <input type="text" name="email" value="" size="40" placeholder="信箱" aria-required="true" class="form-row form-row-last">
              </div>
            </div>
          </div>
          <div class="input-container">
            <textarea name="message" cols="40" rows="4" placeholder="留言" aria-invalid="false" aria-required="true"><%if params[:word].present?%>我對於<%=params[:word]%>有興趣,<%end%></textarea>
          </div>
          <input type="submit" value="送出" class="cws-button alt">
        </form>
        <!-- /contact-form-->
      </div>
    </div>
  </div>
</div>
<!-- map -->
<div class="map-area">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d115729.23840028113!2d121.45676519999999!3d24.981804826358136!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5c262e897533562!2z5qi65LiA5peF6KGM56S-5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1522641064551" width="600" height="450" frameborder="0" style="border:0; margin-bottom: -8px" allowfullscreen></iframe>
	<div class="clearfix"></div>
</div>
