<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">卡式台胞証申請流程</a>
      <h2>卡式台胞証申請流程</h2>
    </div>
  </div>
</section>
<div class="content-body">
  <div class="container page">
    <div class="alt pb-20">
      <div class="mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">新版卡式台胞證</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="table-responsive-xs">
				  <table class="table doc-table table-striped table-bordered">
				    <thead>
				    	<tr>
				    		<td><i class="fa fa-pencil"></i>&nbsp;簽證項目</td>
				    		<td><i class="fa fa-calendar"></i>&nbsp;工作天數</td>
				    		<td class="text-yellow"><i class="fa fa-dollar"></i>&nbsp;同業售價</td>
				    	</tr>
				    </thead>
				    <tbody>
				    	<tr>
				    		<td>新辦卡式台胞證</td>
				    		<td>7天</td>
				    		<td class="text-red">$1,500</td>
				    	</tr>
				    	<tr>
				    		<td>新辦卡式台胞證</td>
				    		<td>7天</td>
				    		<td class="text-red">$1,500</td>
				    	</tr>
				    	<tr>
				    		<td>新辦卡式台胞證</td>
				    		<td>7天</td>
				    		<td class="text-red">$1,500</td>
				    	</tr>
				    	<tr>
				    		<td>新辦卡式台胞證</td>
				    		<td>7天</td>
				    		<td class="text-red">$1,500</td>
				    	</tr>
				    	<tr>
				    		<td>新辦卡式台胞證</td>
				    		<td>7天</td>
				    		<td class="text-red">$1,500</td>
				    	</tr>
				    </tbody>
				    <tfoot>
				    	<tr class="text-center">
				    		<td colspan="3">※ 撤件.重辦件.不准件等需收手續費 $200</td>
				    	</tr>
				    </tfoot>
				  </table>
				</div>
      </div>
      <!-- 所需資料 -->
      <div class="doc-issue-area">
      	<h4 class="title">所需資料</h4>
      	<ul>
      		<li>護照正本(需有六個月以上效期)</li>
      		<li>身分證正反面影本(14歲以上都要身分證影本，14歲以下需加附三個月內的戶籍謄本正本，不接受戶口名簿影本)</li>
      		<li>未滿16足歲者，需附上監護人身分證正反面影本</li>
      		<li>有更改姓名或基本資料者，附上三個月內戶籍謄本正本(記事內容需詳列全部的改名記錄，不得省略)</li>
      		<li>二吋彩色白底6個月內近照1張</li>
      		<li>送7天件後不得更改為急件，也無法臨時撤件</li>
      		<li>原大陸籍者須加附【大陸地區除戶證明】，撤件不退費</li>
      		<li>出生地在西藏，需附個人詳細戶謄，如要補其他資料待通知後再補，依申請人狀況沒有固定的工作天數</li>
      		<li>出生地在國外的台灣居民辦理台胞證須知</li>
      		<li>各項證件影本，不能使用傳真或拍照方式，只接受1:1比例清晰的影印本或掃描檔，而且不可以放大或縮小 ，不可書寫任何文字</li>
      		<li>送件後查出有效期舊證撤件不辦者，需收取手續費300元；因特殊身分不准件者，中旅社不退費</li>
      	</ul>
      </div>
      

      
      
    </div>
    
  </div>
</div>