<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">卡式台胞証申請流程</a>
      <h2>卡式台胞証申請流程</h2>
    </div>
  </div>
</section>
<div class="content-body">
  <div class="container page doc-new-page">
  	<div class="col-sm-10 col-sm-offset-1">
	    <div class="row cws-multi-col masonry">
	      <div class="col-sm-6 ">
	        <div class="portfolio-item alt text-center">
	        	<a data-toggle="modal" data-target="#myModal">
		          <div class="pic"><img src="/img/dd1.jpg"  alt>
		            <div class="hover-effect"></div>
			              <h3 class="portfolio-title">新辦卡式台胞證</h3>
			              <div class="item-content"> 
			                <p>7天</p>
			              </div>
		          </div>
	          </a>
	        </div>
	      </div>
	      <div class="col-sm-6 ">
	        <div class="portfolio-item alt text-center">
	        	<a data-toggle="modal" data-target="#myModal">
		          <div class="pic"><img src="/img/dd2.jpg"  alt>
		            <div class="hover-effect"></div>
			              <h3 class="portfolio-title">卡式台胞證急件</h3>
			              <div class="item-content"> 
			                <p>3天</p>
			              </div>
		          </div>
	          </a>
	        </div>
	      </div>
	      <div class="col-sm-6 ">
	        <div class="portfolio-item alt text-center">
	        	<a data-toggle="modal" data-target="#myModal">
		          <div class="pic"><img src="/img/dd4.jpg"  alt>
		            <div class="hover-effect"></div>
			              <h3 class="portfolio-title">卡式台胞證遺失/毀損件</h3>
			              <div class="item-content"> 
			                <p>7天</p>
			              </div>
		          </div>
	          </a>
	        </div>
	      </div>
	      <div class="col-sm-6 ">
	        <div class="portfolio-item alt text-center">
	        	<a data-toggle="modal" data-target="#myModal">
		          <div class="pic"><img src="/img/dd3.jpg"  alt>
		            <div class="hover-effect"></div>
			              <h3 class="portfolio-title">卡式台胞證遺失/毀損件急件</h3>
			              <div class="item-content"> 
			                <p>3天</p>
			              </div>
		          </div>
	          </a>
	        </div>
	      </div>
	    </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新辦卡式台胞證</h4>
      </div>
      <div class="modal-body">
        <div class="doc-issue-area style2">
	      	<h5 class="title">所需資料</h5>
	      	<ul>
	      		<li>護照正本(需有六個月以上效期)</li>
	      		<li>身分證正反面影本(14歲以上都要身分證影本，14歲以下需加附三個月內的戶籍謄本正本，不接受戶口名簿影本)</li>
	      		<li>未滿16足歲者，需附上監護人身分證正反面影本</li>
	      		<li>有更改姓名或基本資料者，附上三個月內戶籍謄本正本(記事內容需詳列全部的改名記錄，不得省略)</li>
	      		<li>二吋彩色白底6個月內近照1張</li>
	      		<li>送7天件後不得更改為急件，也無法臨時撤件</li>
	      		<li>原大陸籍者須加附【大陸地區除戶證明】，撤件不退費</li>
	      		<li>出生地在西藏，需附個人詳細戶謄，如要補其他資料待通知後再補，依申請人狀況沒有固定的工作天數</li>
	      		<li>出生地在國外的台灣居民辦理台胞證須知</li>
	      		<li>各項證件影本，不能使用傳真或拍照方式，只接受1:1比例清晰的影印本或掃描檔，而且不可以放大或縮小 ，不可書寫任何文字</li>
	      		<li>送件後查出有效期舊證撤件不辦者，需收取手續費300元；因特殊身分不准件者，中旅社不退費</li>
	      	</ul>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>