<form action="<%= backends_categories_path %>" method="post" class="form-horizontal" enctype="multipart/form-data" > 
  <%= token_tag nil %>
  <%= render partial: "/backends/categories/form",locals: {category: @category} %>
</form>