<div class="news-area">
  <div class="n-title">最新消息</div>
  <ul>
    <li>
      <a href="#">
        <p>教你海島五天四夜玩透透</p>
        <span>2016-01-23</span>
      </a>
    </li>
    <li>
      <a href="#">
        <p>教你海島五天四夜玩透透</p>
        <span>2016-01-23</span>
      </a>
    </li>
    <li>
      <a href="#">
        <p>教你海島五天四夜玩透透</p>
        <span>2016-01-23</span>
      </a>
    </li>
    <li>
      <a href="#">
        <p>教你海島五天四夜玩透透</p>
        <span>2016-01-23</span>
      </a>
    </li>
    
  </ul>    
</div>