<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">最新消息</a>
      <h2>最新消息</h2>
    </div>
  </div>
</section>
<div class="content-body">
  <div class="container page news-list">
    <div class="row">
      <div class="col-md-12 mb-60">
        <%= render :partial => "/home/news/show", collection: @contents, as: :content%>
      </div>
    </div>
  </div>
</div>