<%= render :partial=>"/home/common/banner_title",locals:{title:"最新消息"}%>
<div class="detail-wrapper">
  <div class="container">
    <div class="row padd-90">
      <div class="col-xs-12 col-md-9">
        <div class="blog-list">
          <div class="row">
         <%= render :partial => "/home/news/show", collection: @contents, as: :content%>
            
          </div>

          <div class="c_pagination clearfix mt50">
            <a href="#" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fl">prev page</a>
            <a href="#" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fr">next page</a>
            <ul class="cp_content color-3">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
            </ul>
          </div>
        </div>                    
      </div>
      <!-- 廣告 -->
      <%= render :partial=>"/home/news/custom_pic"%>
    </div>
  </div>
</div>