<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">最新消息</a>
      <h2>最新消息</h2>
    </div>
  </div>
</section>

<div class="content-body">
      <div class="container page">
        <div class="row">
          <div class="col-md-8 mb-md-140">
            <!-- Blog Post image-->
            <div class="blog-item alt pb-20">
              
              <div class="pic"><img class="width100" src="/img/n1.jpg" alt></div>
              
              <div class="blog-item-data clearfix">
                <h3 class="blog-title">消息標題</h3>
                <p class="post-info">Mon, 03-23-2016</p>
              </div>
              <div class="cms-box">
                <p class="mb-25">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ac orci eu felis venenatis tincidunt. Phasellus et hendrerit nisi. Phasellus eleifend velit sed gravida elementum. Mauris elementum varius turpis, a dictum justo bibendum nec. Integer sollicitudin ipsum vitae orci fringilla, sit amet ultrices elit volutpat. Duis sed nulla laoreet, suscipit urna id, pretium leo. Maecenas ligula elit, tempus at erat nec, convallis iaculis neque. Nunc at viverra erat.</p>
                <p>Donec tristique blandit urna, cursus eleifend urna. Aliquam ut enim sapien. Nulla dapibus facilisis arcu, eget auctor est venenatis vel.quam sed finibus ornare, tellus justo hendrerit dolor, eget commodo elit massa in nibh. Vestibulum et ligula nisl. Vivamus ornare suscipit ante, et convallis felis ultrices in. Nulla vehicula mollis nulla a ultrices. Donec at diam mattis quam ultricies pharetra. Suspendisse eu nisl nec sem eleifend pellentesque nec in orci. Suspendisse quis sem in purus blandit gravida. Vestibulum congue fermentum orci id mollis. Morbi accumsan ante id tortor ullamcorper, sit amet volutpat arcu consectetur.</p>
              </div>  
             
              <!-- Post Tags-->
              <div class="blog-tags mb-40">
                
                <div class="blog-nav-share mt-lg-0"> <a href="#" class="cws-social fa fa-twitter"></a><a href="#" class="cws-social fa fa-facebook"></a><a href="#" class="cws-social fa fa-google-plus"></a><a href="#" class="cws-social fa fa-linkedin"></a></div>
              </div>
            </div>
           
          
          </div>
          <div class="col-md-4 sidebar">
            <%= render :partial=>"/home/news/list"%>
          </div>
        </div>
      </div>
    </div>