<div class="col-md-4 col-sm-6">
  <div class="shop-item">
    <!-- Shop Image-->
    <div class="shop-media">
      <div class="pic"><img src="<%=project.cover%>"  alt></div>
      
    </div>
    <!-- Shop Content-->
    <div class="shop-item-body"><a href="/home/projects/<%=project.id%>">
        <h6 class="shop-title">%=project.name%></h6></a>
      <div class="stars stars-3"></div>
      <div class="shop-price m-icon">%=project.price%></div>
      <div class="action sale font-2">SALE</div>
      <p class="mb-30 two-line">%=project.intro%></p><a href="/home/projects/%=project.id%>" class="shop-button">閱讀更多</a>
      
      <div class="action font-2 m-icon">%=project.price%></div>
    </div>
    
  </div>
</div>