<%= render :partial=>"/home/common/banner_title",locals:{title:"巴拉望-住宿"}%>
<div class="main-wraper pd-50 tabs-page">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tab-nav-wrapper">
						<div  class="nav-tab  clearfix">
			        
			        <%@the_group.each_with_index do |value,index|%>
							<div class="nav-tab-item <%if index == 0%>active<%end%>">
								<%=value%>
							</div>
					<%end%>
						<!-- 	<div class="nav-tab-item">
								四星酒店
							</div>
							<div class="nav-tab-item">
								民宿
							</div>	 -->                                                        
						</div>
					</div>
					<div class="tabs-content tabs-wrap-style no-border clearfix">
					<%@the_group.each_with_index do |value,index|%>
							<div class="tab-info <%if index == 0%>active<%end%>">
							  <div class="row">
							  	
							  <%= render :partial=>"/home/projects/show", collection: @projects.where(:the_group => value), as: :project%>
				
							  </div>
							</div>
                    <%end%>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>