 <footer style="background-image: url('/img/bg2.jpg')" class="footer footer-fixed">
  <div class="container">
    <div class="logo-icon-area mb-30">
      <img src="/img/logo-icon.png" width="60">
    </div>
    <div class="row pb-50 pb-md-40">
      
      <div class="col-md-7 col-sm-6 mb-sm-30">

        <div class="widget-footer">
          <h4>與我聯絡</h4>
          <div class="row">
            <div class="col-md-7">
              <div class="align-left">
                <p>樺一旅行社有限公司 SPACE TOURS<br>TRAVEL SERVICE<br>台北總公司: 台北市中山區長安東路2段110號7樓之一</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="align-left">
                <p>
                  客服電話: <a href="tel:0225048008">(02)2504-8008</a>
                  <br>
                  傳真電話: <a href="tel:0282610393">(02)8261-0393</a>
                  <br>
                  E-mail: <a href="mailto:spacetk@ms47.hinet.net">spacetk@ms47.hinet.net</a>
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
      <div class="col-md-5 col-sm-6">
        <div class="widget-footer">
          <h4>關於我們</h4>
          <div class="align-left">
            <p>唯一專業旅遊服務公司。由總經理彭鴻湘先生領導服務團隊。<br>以航空票務為根基，擴展至全面性的旅遊產品服務。</p>
          </div>
          
        </div>
      </div>
      <!-- end widget footer-->
    </div>
  </div>
  <!-- copyright-->
  <div class="copyright"> 
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7">
          <p>© Copyright 2018 SPACE TOURS &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
        </div>
        <div class="col-md-6 col-sm-5 foot-a-con">
          <a href="/" class="footer-nav">首頁</a>
          <a href="#" class="footer-nav">國內</a>
          <a href="#" class="footer-nav">國外</a>
          <a href="#" class="footer-nav">海島</a>
          <a href="#" class="footer-nav">票券</a>
          <a href="#" class="footer-nav">申請卡式台胞證</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end copyright-->
  
</footer>