<footer class="bg-dark type-2">
  <div class="container">
      
    <div class="row">
      <div class=" col-md-2 col-sm-12 col-xs-12">
        <div class="footer-block">
          <img src="/img/logo.png" alt="" class="logo-footer">
        </div> 
      </div>
      <div class=" col-md-6 col-sm-6 col-xs-12">
        <div class="footer-block">
          <h6>豪德希旅遊 - Wodesy</h6>
          <div class="contact-info">
            <p>夏威夷旅遊的專家，長年經營夏威夷與各海島旅遊線，是太平洋島嶼旅遊的專家，提供您最專業的行程與服務。</p>          
          
          </div>
        </div> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="footer-block">
          <h6>與我們聯繫</h6>
          <div class="contact-info">
            <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>台北總公司: 台北市中山區龍江路108號3樓之一</span></div>
            <div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:02-7702-1699">(02)7702-1699</a></div>
            <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:service@wodesy.com">service@wodesy.com</a></div>               
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="footer-link bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <span>&copy; 2018 <a href="#">WODESY</a> All rights reserved.</span>
          </div>
          <ul>
            <li><a class="link-aqua" href="#">精緻海島</a></li>
            <li><a class="link-aqua" href="#">品味海島</a></li>
            <li><a class="link-aqua" href="#">風情海島</a></li>
            <li><a class="link-aqua" href="#">機票</a></li>
            <li><a class="link-aqua" href="#">全球簽證</a></li>
            <li><a class="link-aqua" href="#">最新消息</a></li>
            <li><a class="link-aqua" href="#">聯絡我們</a></li>
            <li><a class="link-aqua" href="#">關於我們</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>  
  