<header>     
  
  <nav class="main-nav js-stick">
    <div class="full-wrapper relative clearfix container">
      
      <div class="nav-logo-wrap local-scroll"><a href="/" class="logo"><img src="/img/logo2.png"></a></div>
      <div class="inner-nav desktop-nav">
        <ul class="clearlist">
          
          <li><a href="/" class="mn-has-sub active">首頁</a></li>
          <li class="slash">/</li>

          <li><a href="<%= home_projects_path %>" class="mn-has-sub">國內旅遊 <i class="fa fa-angle-down button_open"></i></a>
            <ul class="mn-sub">
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
            </ul>
          </li>
          <li class="slash">/</li>
          <li><a href="#" class="mn-has-sub">國外旅遊 <i class="fa fa-angle-down button_open"></i></a>
            <ul class="mn-sub">
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
            </ul>
          </li>
          <li class="slash">/</li>

          <li><a href="#" class="mn-has-sub">海島 <i class="fa fa-angle-down button_open"></i></a>
            <ul class="mn-sub">
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
              <li><a href="#">行程</a></li>
            </ul>
          </li>
          <li class="slash">/</li>
          
          <li><a href="#">申請卡式台胞證</a></li>
          <li class="slash">/</li>
          <li><a href="#">票券</a></li>
          <li class="slash">/</li>
          <li><a href="<%= home_news_index_path %>">最新消息</a></li>
          <li class="slash">/</li>
          <li><a href="<%= home_contact_path  %>">與我聯絡</a></li>
         
          <li class="search"><a href="<%= home_about_path  %>" class="mn-has-sub">關於樺一</a>   
          </li>
          <!-- End Search-->
        </ul>
      </div>
      <!-- End Main Menu-->
    </div>
  </nav>
  <!-- End Navigation panel-->
</header>