<header class="color-1 hovered menu-3">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="nav"> 
            <a href="/" class="logo">
              <img src="/img/logo.png" alt="Wodesy">
            </a>
            <div class="nav-menu-icon">
          <a href="#"><i></i></a>
        </div>
          <nav class="menu">
          <ul>
          <!-- <li class="type-1">
            <a href="/">首頁</a>
          </li> -->
          <li class="type-1"><a href="#">精緻海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
              
              <li>
                <a>夏威夷 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>
              <li>
                <a>紐西蘭 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>
            </ul>
          </li>
          <li class="type-1"><a href="#">品味海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
              <li>
                <a>巴拉望 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>
              <li>
                <a>模里西斯 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>
              
            </ul>
          </li>
          <li class="type-1"><a href="#">風情海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
               <li>
                <a>大溪地 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>
              <li>
                <a>斐濟 <span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                  <li><a href="#">住宿</a></li>
                  <li><a href="#">行程</a></li>       
                  <li><a href="#">餐食</a></li>       
                  <li><a href="#">地面接待</a></li>       
                  <li><a href="#">自由行</a></li>        
                </ul>
              </li>

            </ul>
          </li>
          <li >
            <a href="#">機票</a>
          </li>
          <li >
            <a href="#">全國簽證</a>
          </li>
          <li >
            <a href="#">最新消息</a>
          </li>
          <li >
            <a href="#">聯絡我們</a>
          </li>
          <li >
            <a href="#">關於我們</a>
          </li>
        </ul>
       </nav>
       </div>
         </div>
      </div>
   </div>
</header>