<div class="tab-tour col-sm-4 col-xs-12">
  <div class="tour-block tour-block-s-3">
    <span class="border-line-top"></span>
    <span class="border-line-bottom"></span>
    <div class="tour-layer delay-1"></div> 
    <div class="img-box p-img" style="background-image: url(/img/<%= pic%>);"></div>
    <div class="tour-caption">
      <div class="vertical-align">

        <h3><%= title%></h3>  
      </div>
    </div>
  </div>
</div>