<div class="swiper-slide" data-val="<%= val%>">
	<a data-toggle="modal" data-target="<%= modal%>">
	  <div class="offers-block radius-mask">
			<div class="clip">
				<div class="bg bg-bg-chrome act" style="background-image:url(/img/<%= pic%>)">
				</div>
			</div>
		 	<div class="tour-layer delay-1"></div>
			<div class="vertical-center text-center width100">
				<h3><%= title%></h3>
			</div>

	  </div> 
	</a>
</div>