<!-- modal -->
<div class="modal fade visa-modal" id="visa<%=id_card.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=id_card.the_group%>簽證</h4>
      </div>
      <div class="modal-body">
        <%=raw id_card.content%>
      </div>
      <div class="modal-footer">
        <button type="button" class="c-button b-40 bg-red-3 hv-red-3-o" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>