<%= render :partial=>"/home/common/banner_title",locals:{title:"自由行"}%>
<div class="main-wraper pd-50 tabs-page">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tab-nav-wrapper">
						<div  class="nav-tab  clearfix">
						<%@the_group.each_with_index do |value,index|%>
							<div class="nav-tab-item <%if index == 0%>active<%end%>">
								<%=value%>
							</div>
						<%end%>
							                                                     
						</div>
					</div>
					<div class="tabs-content tabs-wrap-style no-border clearfix">
							<!-- tab-1 -->
							<%@the_group.each_with_index do |value,index|%>
							<div class="tab-info <%if index == 0%>active<%end%>">
							  <div class="row">
							  	<%= render :partial=>"/home/backpackers/show", collection: @combines.where(:the_group => value), as: :combine%>
									
							  </div>
							  <%end%>
							  <!-- <div class="c_pagination clearfix padd-120 mt50">
									<a href="#" class="c-button b-40 bg-red-3 hv-red-3-o fl">prev page</a>
									<a href="#" class="c-button b-40 bg-red-3 hv-red-3-o fr">next page</a>
									<ul class="cp_content color-4">
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">...</a></li>
										<li><a href="#">10</a></li>
									</ul>
			  				</div> -->
							</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>